{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="top-container"></div>

<div class="container edit-review">
    <h2 class="text-center">Edit Review</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        {% if error %}
        <strong>{{ error }}</strong>
        {% endif %}
        <input type="submit" value="Save Changes" class="btn btn-pink"
        onclick="return confirm('Testamonial successfully updated!');">
    </form>
</div>

{% endblock %}