{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="col my-auto">
        <h1 class="display-4">Manchester Based Graphic Designer</h1>
        <p>Shop my prints!</p>
        <div class="">
            <h4>
                <a href="" class="store-button btn btn-lg text-uppercase">Store</a>
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-4">
            <h3>Efficency</h3>
            <img src="" alt="">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda fuga velit eligendi sequi laudantium
                modi eaque consequatur laborum iusto amet deleniti aliquam doloremque culpa eum, neque provident? Eaque,
                praesentium. Pariatur!
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <h3>Small Business</h3>
            <img src="" alt="">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda fuga velit eligendi sequi laudantium
                modi eaque consequatur laborum iusto amet deleniti aliquam doloremque culpa eum, neque provident? Eaque,
                praesentium. Pariatur!
            </p>
        </div>

        <div class="col-sm-12 col-md-4">
            <h3>Quality</h3>
            <img src="" alt="">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda fuga velit eligendi sequi laudantium
                modi eaque consequatur laborum iusto amet deleniti aliquam doloremque culpa eum, neque provident? Eaque,
                praesentium. Pariatur!
            </p>
        </div>

    </div>
</div>

<div class="container">
    <h1>Testamonials</h1>
</div>
{% endblock %}