{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron hero_image">
    <div class="jumbotron-text">
        <h1 class="display-1 main-title">Ellie<br>Campbell<br>Design</h1>

        <div class="text-center">
            <a href="" class="btn btn-lg btn-pink block-center">Buy my prints here!</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="card home-card text-center col-md-4 col-12">
            <h2 class="card-title">Efficency</h2>
            <img src="/media/efficency.png" class="card-img-top" alt="Efficency Image">
            <div class="card-body">
              <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Eligendi perspiciatis tempore corporis reiciendis modi similique officiis obcaecati maxime ipsum.
                </p>
            </div>
          </div>

        <div class="card home-card text-center col-md-4 col-12">
            <h2 class="card-title">Small Business</h2>
            <img src="/media/small_business.png" class="card-img-top" alt="Small Business Image">
            <div class="card-body">
              <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Eligendi perspiciatis tempore corporis reiciendis modi similique officiis obcaecati maxime ipsum.
                </p>
            </div>
          </div>

          <div class="card home-card text-center col-md-4 col-12">
            <h2 class="card-title">Quality</h2>
            <img src="/media/quality.png" class="card-img-top" alt="Quality Image">
            <div class="card-body">
              <p class="card-text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Eligendi perspiciatis tempore corporis reiciendis modi similique officiis obcaecati maxime ipsum.
                </p>
            </div>
          </div>

    </div>
</div>

<div class="container">
    <h1>Testamonials</h1>
</div>
{% endblock %}