html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(60, 43, 78) 0%, rgba(94, 66, 124, 1) 50%, rgba(132, 76, 135, 1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Shizuru', cursive;
    color: white;
}

.logo {
    font-family: 'Shizuru', cursive;
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
}

/* from Bulma formats FontAwesome Icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-pink {
    background-color: #ec5ce5 !important;
    color: white !important;

    margin: 20px;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus{
    background-color: #8d2f8d !important;
}

/* push content down from nav */
.top-container{
    margin-top: 130px;
}

/* ____Header/Nav____ */
/* Navbar background color, Keep delivery banner seperate */
#topnav{
    background-color: rgb(60, 43, 78);
}

.navbar{
    background-color: rgb(60, 43, 78);
}

/* Navbar links */
.navbar-toggler {
    color: black;
    background-color: white;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .show>.nav-link {
    color: #ec5ce5;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #ec5ce5;
}

.nav-link{
    color: white;
}

.nav-link :hover,
.nav-link :active,
.nav-link :focus{
    color: #ec5ce5;
}

/* Searchbar button*/
.search-button{
    background-color: #dddddd;
    color: #8d2f8d;
    border: 4px solid #dddddd;
}

.search-button :hover,
.search-button :active,
.search-button :focus{
    color: #ec5ce5;
}

/* Delivery banner */
/* From https://www.html.am/html-codes/marquees/css-marquee.cfm */
.marquee {
    height: 50px;	
    overflow: hidden;
    position: relative;
    font-size: 15pt;
    color: white;
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
   }

   .marquee p{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
   }

/* ____Index/Home____ */

.hero_image {
    background-image: url("/media/homepage_image.jpg");
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title{
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
}

.jumbotron-text {
    padding-top: 5%;
    margin-left: 2rem;
}

.jumbotron .lead {
    color: white;
}

.home-card {
    background: none;
    border: none;
}

.home-card img {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
    object-position: center;
}


/*____Products____*/

.product-card {
    color: #8d2f8d;

    border-radius: 15px;
    padding: 19px;
}

.product-card img{
    border-radius: 10px;
}

.product-card .rating {
    color: rgb(189, 157, 16);
}

/*____Product Details____*/

.product-details img {
    border-radius: 15px;
}

.product-details .rating {
    color: rgb(189, 157, 16);
}

/*____Media Queries____/*


/* Large Screens*/
@media screen and (max-width: 1199px) {

    /* Slightly larger container on xl screens */
    .container {
        max-width: 90%;
    }
}



/* laptops */
@media screen and (max-width: 991px) {

    /* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .home-card h2{
        font-size: 17pt
    }
}

/* Tablets */
@media screen and (max-width: 767px) {
    .main-title{
        font-size: 70pt;
    }
}

/* Phones */
@media screen and (max-width: 567px) {
    .main-title{
        font-size: 50pt;
    }
}