html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(60, 43, 78) 0%, rgba(94, 66, 124, 1) 50%, rgba(132, 76, 135, 1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Shizuru', cursive;
    color: white;
}

.container {
    margin: 25px auto 25px auto;
}

.logo {
    font-family: 'Shizuru', cursive;
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
}

/* from Bulma formats FontAwesome Icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-pink {
    background-color: #ec5ce5 !important;
    color: white !important;

    border-radius: 15px !important;
    margin: 5px !important;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background-color: #8d2f8d !important;
}

/* push content down from nav */
.top-container {
    margin-top: 130px;
}


/*____ Allauth ____*/

.allauth-form-inner-content input {
    border-radius: 15px;
}

.allauth-form-inner-content a {
    color: #ffc107;
}

.allauth-form-inner-content .invalid-feedback {
    color: #ffc107;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ec5ce5;
    border: none;
    border-radius: 15px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content .alert-block {
    border-radius: 15px;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #8d2f8d;
    border-color: none;
}

/* ____Toasts (Bootstrap)____ */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    border-radius: 15px;
    background-color: white;
    color: #8d2f8d;
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.custom-toast .bg-warning {
    border-radius: 15px;
}

.custom-toast img {
    border-radius: 10px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ____Header/Nav____ */
/* Navbar background color, Keep delivery banner seperate */
#topnav {
    background-color: rgb(60, 43, 78);
}

.navbar {
    background-color: rgb(60, 43, 78);
}

/* Navbar links */
.navbar-toggler {
    background-color: white;
}

.navbar-toggler-icon {
    color: #8d2f8d;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .show>.nav-link {
    color: #ec5ce5;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #ec5ce5;
}

.nav-link {
    color: white !important;
}

.nav-link :hover,
.nav-link :active,
.nav-link :focus {
    color: #ec5ce5;
}

/* Searchbar button*/
.search-button {
    color: white;
}

.search-button-mobile {
    color: black !important;
}

.search-button :hover,
.search-button :active,
.search-button :focus {
    color: #ec5ce5;
}

.bag-icon .text-info .text-primary {
    color: #ec5ce5 !important;
}

/* Delivery banner */
/* From https://www.html.am/html-codes/marquees/css-marquee.cfm */
.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    font-size: 15pt;
    color: white;
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }

    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}

/* ____Index/Home____ */

.hero_image {
    background-image: url("/media/homepage_image.jpg");
    height: 80vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-title {
    text-shadow: 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2, 0px 0px 10px #ff00f2;
}

.jumbotron-text {
    padding-top: 5%;
    margin-left: 2rem;
}

.jumbotron .lead {
    color: white;
}

.home-card {
    background: none;
    border: none;
}

.home-card img {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
    object-position: center;
}

.review-card {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

.review-card h3 {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

.review-card .rating {
    color: rgb(189, 157, 16);
}

.review-form textarea {
    border-radius: 15px;
}

/*____Edit Review____*/

.edit-review textarea {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

.edit-review input {
    border-radius: 15px;
    padding: 10px;
}

/*____Products____*/

.product-card {
    color: #8d2f8d;

    border-radius: 15px;
    padding: 19px;
}

.product-card img {
    border-radius: 10px;
}

.product-card .rating {
    color: rgb(189, 157, 16);
}

.product-card a {
    color: #5518ab;
}

.products-link a {
    color: #ec5ce5;
}

.products-link :hover,
.products-link :active,
.products-link :focus {
    color: #ec5ce5 !important;
}

/*____Product Details____*/

.product-details img {
    border-radius: 15px;
}

.product-details .rating {
    color: rgb(189, 157, 16);
}

.product-details a {
    color: white;
}

.product-details input {
    border-radius: 15px !important;
    margin: 5px;
}

/*____ Add/Edit Product ____*/
.product-review-card {
    color: #8d2f8d;
    border-radius: 15px;
}

.product-review-card i {
    color: rgb(189, 157, 16) !important;
}

.product-review-card .blockquote-footer {
    color: #5518ab;
}


/*____ Add/Edit Product ____*/
.add-edit-product input,
.add-edit-product select,
.add-edit-product textarea {
    border-radius: 15px !important;
    background-color: white;
}

.add-edit-product a {
    color: #ffc107;
}

.add-edit-product .form-control-file {
    color: black;
}

/*____Bag____*/
.bag-table img {
    border-radius: 15px;
}

.bag-table .qty_input {
    border-radius: 15px !important;
    margin: 2px;
}

/*____Media Queries____*/


/* Large Screens*/
@media screen and (max-width: 1199px) {}



/* laptops */
@media screen and (max-width: 991px) {

    /* fixed top navbar only on medium and up */
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .home-card h2 {
        font-size: 17pt
    }

    /* push content down from nav */
    .top-container {
        margin-top: 100px;
    }
}

/* Tablets */
@media screen and (max-width: 767px) {
    .main-title {
        font-size: 70pt;
    }
}

/* Phones */
@media screen and (max-width: 567px) {
    .main-title {
        font-size: 50pt;
    }

    .container {
        width: 100%;
    }

    .top-container {
        margin-top: 95px;
    }

    .mobile-nav-link {
        font-size: 10pt;
    }

    .mobile-dropdown {
        padding: 0;
    }

    .bag-table {
        font-size: 12px;
    }

    .bag-btn {
        font-size: 15px;
    }

    .bag-table .qty_input {
        width: fit-content;
    }
}