<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="dropdown-item">Home</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=print" class="dropdown-item">Prints</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=sticker" class="dropdown-item ">Stickers</a>
            </a>
        </li>
    </ul>
</div>

        