<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item btn">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>

        <li class="nav-item btn">
            <a href="{% url 'products' %}" class="nav-link">All Products</a>
        </li>

        <li class="nav-item btn">
            <a href="{% url 'products' %}?category=print" class="nav-link">Prints</a>
        </li>

        <li class="nav-item btn">
            <a href="{% url 'products' %}?category=sticker" class="nav-link ">Stickers</a>
        </li>
    </ul>
</div>

        